@using LogIN_Project.Models
@model LoginViewModel
@{
    ViewBag.Title = "登入";
}

<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>使用本機帳戶登入。</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" id="LogIN" value="登入" class="btn btn-default" />
                    </div>
                </div>
                <p>
                    @Html.ActionLink("註冊為新使用者", "Register")
                </p>
                @* 請在啟用密碼重設功能的帳戶確認之後啟用此項目
                    <p>
                        @Html.ActionLink("忘記密碼?", "ForgotPassword")
                    </p>*@
            }
        </section>
    </div>
    <div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<br />
<button id="customBtn" type="button">Google登入</button>
<button type="button" onclick="signOut();">登出</button>
<br />
---------------------------------------------------------------------
<br /><br />
登入狀態 :
<br />
<div id="name" style="font-size:large"></div>
<br />
---------------------------------------------------------------------
<br />

<script src="https://apis.google.com/js/api:client.js"></script>
<script>
    var googleUser = {};
    var startApp = function () {
        gapi.load('auth2', function () {
            // Retrieve the singleton for the GoogleAuth library and set up the client.
            auth2 = gapi.auth2.init({
                client_id: '16959301078-auvq07i3bm7ilgnoddbr527rhln0uip5.apps.googleusercontent.com', //用戶端 ID   {貼上用戶端 ID}.apps.googleusercontent.com

                cookiepolicy: 'single_host_origin',
                scope: 'profile' //可以請求除了默認的'profile' and 'email'之外的數據
            });
            attachSignin(document.getElementById('customBtn'));
        });
    };

    function attachSignin(element) {
        auth2.attachClickHandler(element, {},
            function (googleUser) {
                document.getElementById('name').innerText = "Signed in: " + googleUser.getBasicProfile().getName();
                var profile = auth2.currentUser.get().getBasicProfile();
                console.log('ID: ' + profile.getId());
                console.log('Full Name: ' + profile.getName());
                console.log('Given Name: ' + profile.getGivenName());
                console.log('Family Name: ' + profile.getFamilyName());
                console.log('Image URL: ' + profile.getImageUrl());
                console.log('Email: ' + profile.getEmail());
                // The ID token you need to pass to your backend:
                var id_token = googleUser.getAuthResponse().id_token;
                console.log("ID Token: " + id_token);

                document.getElementById("Email").value = profile.getEmail();
                document.getElementById("Password").value = profile.getEmail();
                document.getElementById("LogIN").click();
            }, function (error) {
                console.log(JSON.stringify(error, undefined, 2));
            });
    }
    startApp();

    //登出
    function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
            alert('成功登出');
            document.getElementById('name').innerText = "Signed Out";
        });
    }</script>